.hidden {
  display: none
}

.gist {
  background-color: gainsboro;
  border-color: gray;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px
}
